html {
    scroll-behavior: smooth;
  }

  

  
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

section{
    min-height: 100vh;
    max-width: 100vw;
}

#about{
    background-color: #011c31;
    color:white;
    padding-bottom:7vh;

}

/*Start of Collapse Read More --------------------------------------------------------*/
.expand-button {
  cursor: pointer;
  display: block;
  width: 50%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;

  border: 4px solid darken(darkcyan, 10%);
  border-radius: 3px;
  background-color: darkcyan;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  
}

.expand-button:hover, :active, :focus {
    background-color: darken(darkcyan, 5%);
  }


.special-text {
  position: relative;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 1s ease;
  
  &.-expanded {
    max-height: 100vh;
  }
}


.special-text:not(.-expanded)::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
/*-----------------------------------------------------------------------------------------*/




.landing a{
        border: 2px solid white;
        border-radius: 10px;
        color: white;
        display: inline-block;
        height: 54px;
        opacity: .8;
        filter: alpha(opacity=80);
        -webkit-transition: background .5s;
        -o-transition: background .5s;
        transition: background .5s;
        width: 54px;
}

.landing a:hover {
    background: rgba(255, 255, 255, .3);
    color:white;
    text-decoration: none;
}



.landing a .fa-angle-double-down {
    display: inline-block;
    font-size: 2.2em;
    height: 54px;
    line-height: 50px;
}

.container-fluid{
    margin: 0!important;
    padding: 0!important;
}

.mobile-logo{
    display: none!important;
}

.navbar{
    z-index: 45;
}

.overlay{
    position: fixed;
    z-index: 35;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.overlay-fadeIn{
    display: block;
}

.main-navigation{
    position: fixed!important;
    background-color: rgba(255, 255, 255, 0);
    height: 50vh;
    transition: all 0.5s ease-in-out;
}

.main-navigation *{
    color: white;
}

.main-navigation .nav-item{
    color: white;
}

.main-navigation .nav-link:before {
    content: "\f101";
    font-family: fontawesome;
    margin-right: 5px;
    color: #e67d21;
}

.scroll-nav{
    background-color: rgba(255, 255, 255, 0.9);
    height: 12vh;
    color: black!important;
    transition: all 0.5s ease-in-out;
}

.scroll-nav *{
    color: black!important;
}

.nav-item{
    transition: all 0.35s ease-in-out;
}

.scroll-nav .nav-item{
    padding-left: 5%;
    padding-right: 5%;
    transition: all 0.35s ease-in-out;
}

.scroll-nav .title{
    width: 200px;
    transition: all 0.35s ease-in-out;
}

.scroll-nav .nav-toggle{
    display: block;
}

.title{
    width: 520px;
    transition: all 0.35s ease-in-out;
}

.mini-title{
    font-size: 1vw!important;
    transition: all 0.35s ease-in-out;
}

.mini-title-boost{
    font-size: 2vw;
    transition: all 0.35s ease-in-out;
}

.main-navigation .title-boost{
    font-size: 3rem;
    transition: all 0.35s ease-in-out;
}

.main-navigation .title-sub-boost{
    font-size: 2rem;
    transition: all 0.35s ease-in-out;
}

.nav-right{
    float: left!important;
}

.nav-left .nav-item{
    float: right!important;
}

.nav-toggle{
    display: none;
    font-size: 2em;
    padding-right: 20px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

#nav-toggle{
    transition: all 0.2s ease-in-out;
}

.rotate{
    transform: rotate(90deg);
}

#side-bar{
    height: 90vh;
    position: fixed!important;
    top: 12.25vh;
    /* padding-top: 20vh; */
    right: -500px;
    z-index: 50;
    background-color: #001C31;
    transition: all 0.25s ease-in-out;
}

.hide-overlay{
    display: none!important;
}

.side-block{
    display: none;
}

#side-bar a{
    color: white!important;
}

#side-bar hr{
    border-color: white!important;
    margin: 5px;
}

.side-link{
    font-size: 1.5rem;
    display: inline!important;
}

.slide{
    right: 0px!important;
}

.spacer{
    /* margin-top: 40vh!important; */
}

/* Landing Page */

.landing{
    background-image: url('http://accelerated.partners/wp-content/uploads/2015/02/accinv-top-bg.jpg');
    background-size: cover;
    background-position: top;
}

/* About */

hr{
    width: 30vh;
    border-radius: 25px;
}

.top-row{
    padding-top: 3em;
}

.left-check{
    padding-left: 1em;
    padding-top: 2em;
}

.left-check h1{
    color: #23E3AE;
}

/* Companies */

.company-title{
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.company-hover{
    transition: all 1s ease-in-out;
}

.FooterIcon{
    text-align: right;
    margin-top: 5px;
    padding-right: 0;
    padding-left: 0;
    color:#e67d21;
}

.company-hover:hover{
    cursor: pointer;
    filter: brightness(1) saturate(0.5) !important;
}

/* Contact */

#contact{
    background-image: url('http://accelerated.partners/wp-content/uploads/2015/03/photo-1423068722744-a02746238362.png');
    background-size: cover;
    background-position: top;
    color: white;
}

#companies img {
    
    -webkit-filter: brightness(0) saturate(1);

}

#contact a{
    color: white;
}


.contact-overlay{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
}

.contact-title{
    margin-top: 8vh;
    margin-bottom: 8vh;
    color: white;
}

.map{
    cursor: pointer;
}

#footer{
    height: 10em!important;
    background-color: #001C31!important;
}

@media screen and (max-width: 768px) {
    .main-navigation{
        background-color: rgba(255, 255, 255, 1);
        height: 12vh;
        color: black!important;
        transition: all 0.35s ease-in-out;
    }
    .mobile-logo{
        display: inline!important;
    }

    .nav-toggle{
        display: block!important;
        opacity: 1!important;
        color: black!important;
    }
    #nav-toggle{
        display: block!important;
        color: #001C31;
    }
    .side-block{
        display: block;
    }
  }
